.searchBar{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
}
.menuButton{
    display: none;
}
.searchInput{
    display: flex;
    border-radius: 2em;
    border: 2px solid var(--off-white);
    padding: 0 1em;
    margin-top: 1em;
    /* position: relative; */
}
.searchInput input{
    height: 2em;
    padding: 1em;
    font-size: 1.2rem;
    background: transparent;
    font-weight: bold;
    width: 15em;
    color: var(--off-white);
    border: none;
}
.searchInput input:focus{
    outline: none;
}
.searchInput button{
    background: none;
    cursor: pointer;
    border: none;
    color: white;
    /* position: absolute; */
    right: 10px;
    /* top:50%;
    transform: translateY(-50%); */
}
.walletButton{
    padding: 1em;
    border: none;
    border-radius: 1em;
    background:linear-gradient(90deg, rgba(124, 15, 53, 1) 0%, rgba(88, 18, 102, 1) 100%);
    color: var(--off-white);
    font-weight: bold;
}